[submodule "ext/ChibiOS"]
	path = ext/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS.git
[submodule "ext/ChibiOS-Contrib"]
	path = ext/ChibiOS-Contrib
	url = https://github.com/ChibiOS/ChibiOS-Contrib.git
