[submodule "ext/ChibiOS"]
	path = ext/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS.git
	branch = stable_21.11.x
[submodule "ext/ChibiOS-Contrib"]
	path = ext/ChibiOS-Contrib
	url = https://github.com/UCM-237/ChibiOS-Contrib.git
	branch = chibios-21.11.x